.brand {
    width:44%;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.loginbox {
    margin-top:100px;
    margin-bottom: 15%;
    @media screen and (max-width: 480px) {
        margin-top:20px !important;
        margin-bottom: unset !important;
    }
}